.DashboardPanelCollection .uk-card-footer {
  color: #97aab4;
}

.DashboardPanelCollection td:first-child,
.DashboardTableColumn__title {
  font-weight: bold;
}

.DashboardPanelCollection table.has-actions tr > :last-child {
  text-align: right;
}

/* Action icons */

.DashboardPanelCollection table td:last-child .fa {
  opacity: .4;
  cursor: not-allowed;
}

.DashboardPanelCollection table td:last-child a {
  color: inherit;
}

.DashboardPanelCollection table td:last-child a .fa {
  opacity: 1;
  cursor: inherit;
  color: #97aab4;
}

.DashboardTableColumn__page_icon {
  width: 40px;
}

.DashboardTableColumn__actions__ {
  width: 80px;
  white-space: nowrap;
}
