.DashboardPanelCollection .uk-card-footer {
  font-size: .85em;
  color: #97aab4;
}

.DashboardPanelCollection .uk-card-footer > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.AdminThemeUikit .DashboardPanelCollection .uk-card-footer .ui-button {
  background: #f0f3f7;
  color: #354b60;
}

.AdminThemeUikit .DashboardPanelCollection .uk-card-footer .ui-button:hover {
  background: #6c8dae;
  color: #fff;
}

.DashboardPanelCollection td:first-child,
.DashboardTableColumn__title {
  font-weight: bold;
}

/* Action icons */

.DashboardTableColumn__actions__ {
  text-align: right;
}

.DashboardTableColumn__actions__ .fa {
  opacity: .4;
  cursor: not-allowed;
}

.DashboardTableColumn__actions__ a {
  color: inherit;
}

.DashboardTableColumn__actions__ a .fa {
  opacity: 1;
  cursor: inherit;
  color: #97aab4;
}

.DashboardTableColumn__page_icon {
  width: 40px;
}

.DashboardPanelCollection table img {
  border-radius: 4px;
  max-height: 30px;
  width: auto;
}

.AdminThemeUikit .DashboardPanelCollection td.is-image-column {
  padding-top: 7px;
  padding-bottom: 7px;
  vertical-align: middle;
}

.DashboardPanelCollection td.is-color-column {
  vertical-align: middle;
}

.DashboardPanelCollection td.is-color-column span {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
}
