.DashboardPanelCollection .uk-card-footer {
  color: #97aab4;
}

.DashboardPanelCollection td:first-child {
  font-weight: bold;
}

.DashboardPanelCollection table.has-actions tr > :last-child {
  text-align: right;
}

/* Action icons */

.DashboardPanelCollection table .fa {
  opacity: .4;
  cursor: not-allowed;
}

.DashboardPanelCollection table a {
  color: inherit;
}

.DashboardPanelCollection table a .fa {
  opacity: 1;
  cursor: inherit;
  color: #97aab4;
}
