/* Variables */

:root {
  --dashboard-panel-chart-ratio: 2.5;
}

/* Hide canvas on load. Chart.js will add display: block via JS */

.DashboardPanelChart__canvas {
  display: none;
}

/* Display aspect ratio placeholder */

.DashboardPanelChart__placeholder {
  position: relative;
  padding-bottom: calc(100% / var(--dashboard-panel-chart-ratio));
  height: 0;
  overflow: hidden;
  /* Hide when canvas is visible */
  .DashboardPanelChart__canvas[style] + & {
    display: none;
  }
}
