.DashboardPanelNotice {

  .uk-card-header {
    display: none;
  }

  .uk-card-body {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;

    /* Actions */

    div:last-child {
      margin-left: auto;
      padding-left: 2em;
      a {
        color: inherit;
        text-decoration: underline;
        padding-right: .5em;
        white-space: nowrap;
        &:last-child {
          padding-right: 0;
        }
      }
    }
  }

  /* Status types */

  &.notice-status--notice {}

  &.notice-status--success {
    color: rgb(66, 175, 123);
    color: hsl(151, 45%, 47%);
    background-color: hsl(151, 45%, 95%);
  }

  &.notice-status--warning {
    color: rgb(235, 116, 25);
    color: hsl(26, 84%, 51%);
    background-color: hsl(26, 84%, 94%);
  }

  &.notice-status--error {
    color: rgb(227, 78, 66);
    color: hsl(4, 74%, 57%);
    background-color: hsl(4, 74%, 96%);
  }
}
