/* Variables */

:root {
  --dashboard-panel-collection-img-radius: 4px;
  --dashboard-panel-collection-img-height: 30px;
  --dashboard-panel-collection-color-radius: 50%;
}

.DashboardPanelCollection {
  .uk-card-footer {
    font-size: .85em;
    color: var(--dashboard-color-text-light);
    > div {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  /* Bold first or title column */
  td:first-child,
  .DashboardTableColumn__title {
    font-weight: bold;
  }
}

/* Action column */

.DashboardTableColumn__actions__ {
  text-align: right !important;
  white-space: nowrap;
  .tablesorter-header-inner {
    display: none;
  }
  a,
  .fa {
    display: inline-block;
  }
  > :not(:first-child) {
    margin-left: .25em;
  }
  .fa {
    cursor: not-allowed;
    color: var(--dashboard-color-icon);
    opacity: .4;
  }
  a {
    /* color: inherit; */
  }
  a .fa {
    opacity: 1;
    cursor: inherit;
    /* color: var(--dashboard-color-icon); */
  }
}

/* Icon column */

.DashboardTableColumn__page_icon {
  width: 40px;
}

/* Image column */

.DashboardPanelCollection td.is-image-column {
  .AdminThemeUikit & {
    padding-top: 7px;
    padding-bottom: 7px;
    vertical-align: middle;
  }
  img {
    border-radius: var(--dashboard-panel-collection-img-radius);
    max-height: var(--dashboard-panel-collection-img-height);
    width: auto;
  }
}

/* Color column */

.DashboardPanelCollection td.is-color-column {
  vertical-align: middle;
  span {
    display: inline-block;
    width: 1em;
    height: 1em;
    border-radius: var(--dashboard-panel-collection-color-radius);
  }
}
